<p id="notice"><%= notice %></p>

<p>
  <strong>Класс детали:</strong>
  <%= @detail_type.name %>
</p>

<h2>Модели деталий</h2>
<table class="classification">
  <thead>
    <tr>
      <th>Название</th>
      <th colspan="2">Действие</th>
    </tr>
  </thead>
  <tbody>
    <%= render @detail_type.detail_models %>
  </tbody>
</table>

<h2>Добавить новую модель</h2>
<%= render 'detail_models/form' %>

<%= link_to 'Редактировать', [ :edit, @detail_type] %> |
<%= link_to 'Назад', @detail_type.detail_class %>
