<p>
	<strong>Вагон:</strong>
	<%= @wagon.label %>
</p>

<p>
	<strong>Описание</strong><br/>
	<%= @wagon.description %>
</p>

<p>
	<strong>Даты:</strong>
	<%= @wagon.created_at %> | <%= @wagon.repared_at %>
</p>

<%= link_to 'Назад', wagons_path %>